{% extends 'base.html.twig' %}

{% block title %}Bootsrtap 5 alpha!{% endblock %}

{% block body %}

    <div class="example-wrapper mb-5 mt-5">
        <h1 class="text-center py-4">Movies data from Wikipedia✅</h1>

    </div>




    <div class="grid-container">
        {% for item  in items %}

                <div class="card grid-item" >
                    <img src="{{  asset('build/images/'~item.picture) }}" class="card-img-top " alt="{{ item.title }}" height="200px" >
                    <div class="card-body">
                        <h5 class="card-title">{{ item.title }}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
            </div>
        {% else %} <p> not found</p>
        {% endfor %}


    </div>
{% endblock %}
